
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&family=Roboto+Slab:wght@100&display=swap');

/* title and heading will make us of roboto slab and paragraph and text will be dysplayed in fira sans */

h1,h2,a{
    font-family: 'Roboto Slab', serif;}


/*we must put the text*/
p{
    font-family: 'Fira Sans', sans-serif;
}